<!-- ベーステンプレートを適用 -->
{% extends "base.html" %}

<!-- タブのタイトルを設定 -->
{% block title %}Reset password{% endblock %}

<!-- メイン部分 -->
{% block contents %}
<div class="container">
    <hr>
    <h3>パスワードをリセットしますか?</h3>
    <p>
        登録済みのメールアドレスを入力してください。
        パスワードリセットのリンクを記載したメールをすぐにお届けします。
    </p>
    <br>
    <!-- メール送信フォーム -->
    <form method="post" class="text-center">
        {% csrf_token %}
        <!-- formに格納された入力欄を出力(Djangoで自動的に作られる) -->
        {{form}}
        <!-- 送信ボタン -->
        <input type="submit" value="メールを受け取る">
        <br>
    </form>
    <!-- トップページへのリンク -->
    <a href="{% url 'photo:index' %}">Photo Gallery</a>
    <hr>
</div>
{% endblock %}



